.container {
	margin: 25px 0px 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 28px;
	text-align: center;
	color: var(--contrast);
}

.subtitle {
	margin: 5px;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	color: var(--contrast);
}
