.container {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.number {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	color: var(--main);
	background: var(--secondary);
	font-weight: 900;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	width: 100%;
	text-align: center;
}
