.form {
	height: auto;
	width: 320px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	width: 100%;
	min-height: 45px;
	border-radius: 8px;
	border: none;
	outline: none;
	padding-left: 15px;
	border: 2px solid var(--main);
}

label {
	padding-left: 5px;
}

button {
	height: 40px;
	width: 300px;
	margin: 15px 0px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background: var(--main);
}

small {
	color: red;
	padding-left: 5px;
}

.arrowInputs {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.columnInputs {
	width: 100%;
	margin: 10px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.link {
	width: 100%;
	display: block;
	text-align: center;
	text-decoration: underline;
}

/* .columnInputs > label {
	width: 100%;
	margin: 3px 0px;
	padding-left: 5px;
}

.columnInputs > input,
.columnInputs > select {
	width: 100%;
	height: 45px;
	border-radius: 8px;
	border: none;
	outline: none;
	padding-left: 15px;
	border: 2px solid var(--main);
}

.columnInputs > button {
	width: 100%;
	height: 45px;
	border-radius: 8px;
	border: none;
	outline: none;
	border: 2px solid var(--main);
}

small {
	padding-left: 5px;
	color: red;
}

section > a {
	text-decoration: underline;
}

select {
	height: 40px;
	width: 300px;
	font-weight: 400;
	font-size: 16px;
	padding-left: 15px;
	border: 2px solid var(--main);
	background: var(--background);
	border-radius: 12px;
	cursor: pointer;
}

select option {
	cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
 */
