:root {
	/* --main: #ffbf9b; */
	--main: #b46060;
	--secondary: #fff4e0;
	--tertiary: #b46060;
	--background: #fffffe;
	--contrast: #232323;
	--addornOn: #fff4e0;
	--addornOff: #4d4d4d;
	--placeholder: #9c9c9c;
}
