.header {
	width: 100%;
	height: 40px;
	padding-left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: default;
}

h1 {
	font-size: 22px;
}
