.container {
	height: 100vh;
	position: fixed;
	width: 220px;
	top: 0;
	left: 0;
	transition: all 600ms ease-in-out;
	background: #eed6d6;
	z-index: 99;
}

.sidebar {
	height: 100%;
	width: 100%;
	padding: 0px 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidebar > svg {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 28px;
	cursor: pointer;
}

/* User Route */
.user {
	width: 100%;
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 5px;
	left: 0;
}

.userimg {
	height: 30px;
	min-width: 30px;
	border-radius: 50%;
}
