.container {
	height: 180px;
	width: 100%;
	max-width: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.categories {
	width: 80%;
	display: flex;
	justify-self: start;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
}

.categoryContainer {
	text-align: center;
	min-width: 170px;
	margin: 10px;
	padding: 2px 10px;
	border-radius: 12px;
	background: var(--main);
	color: var(--addornOn);
	cursor: pointer;
}
